/*GENERAL*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 700px;
    margin-top: 300px;
}
.btn-danger {
    padding: 0.375rem 15.75rem;
}
.btn-primary {
    background-color: #f0a756;
    color: white;
    border:none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #f7911c;
    border-color: #f7911c; /*set the color you want here*/
}
.modal-content {
    width: 600px;
}